#splash{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url(../img/opening.png);
    background-size: cover;
    z-index: 2;
    #modal{
        max-width: 600px;
        margin-top: 140px;
        text-align: center;
        padding: 50px;
        @media screen and(max-width: 400px) {
            padding: 10px;
        }
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
        #buttons{
            display: flex;
            @media screen and(max-width: 400px) {
                flex-direction: column;
            }
            .btn{
                padding: 10px 15px;
                margin: 5px;
                color: white;
                font-size: 1.2em;
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                border-radius: 5px;
                border: 1px solid #333;
                box-shadow: 0 6px 0 #333;
                flex:1;
                cursor: pointer;
                &:hover{
                    transform: translate(0 ,5px);
                    box-shadow: 0 0px 0 #333;
                }
            }
            #big{
                background-color: green;
            }
            #medium{
                background-color: blue;
            }
            #small{
                background-color: red;
            }
        }
        
    }
}

#reset{
    background-color: #313930;
    border: 6px lightgray groove;
    width: 60px;
    position: fixed;
    right: 0;
    height: 60px;
    padding-top: 7px;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;
    &:hover{
        img{
            width: 40px;
            opacity: .8;
            margin-top: -3px;
            margin-left: 2px;
        }
    }
    img{
        width: 35px;
        opacity: .8;
    }
}
// .minedTileDiv{
//     background-color: rgba($color: #fff, $alpha: .2);
// }