body {
    margin: 0;
    overflow-y: hidden;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.regular-div {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    background-color: lightblue;
    flex-shrink: 0;
    background-size: cover;
}

.regular-div:hover {
    border: 1px solid white;
}

.row {
    display: flex;
}

.treeLeaf {
    background-image: url(../img/leaf.png);
}

.treeTrunk {
    background-image: url(../img/tree.png);
}

.ground {
    background-image: url(../img/ground.png);
}

.ground.lava {
    background-image: url(../img/lava.png);
}

.hill {
    background-image: url(../img/ground.png);
}