body {
    margin: 0;
    overflow-y: hidden;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.regular-div {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightblue;
    flex-shrink: 0;
}

.row {
    display: flex;
}

.treeLeaf {
    background-color: green;
}

.treeTrunk {
    background-color: brown;
}

.ground {
    background-color: maroon;
}

.ground.lava {
    background-color: orange;
}